<ion-header>
  <ion-toolbar>
    <ion-title>Escape Rooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Selector de categoría -->
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="loadRooms()">
      <ion-select-option value="Misterio">Misterio</ion-select-option>
      <ion-select-option value="Aventura">Aventura</ion-select-option>
      <ion-select-option value="Policíaca">Policíaca</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de salas -->
  <ion-list>
    <ion-item *ngFor="let room of rooms">
      <ion-label>
        <h2>{{ room.sala }}</h2>
        <p>{{ room.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
